<div class="page-header">
  <h3>Userbookmark #<%= @userbookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @userbookmark.user.present? %>
          <a href="/users/<%= @userbookmark.user_id %>">
            <%= @userbookmark.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Bookmark</dt>
      <dd>
        <% if @userbookmark.bookmark.present? %>
          <a href="/bookmarks/<%= @userbookmark.bookmark_id %>">
            <%= @userbookmark.bookmark.dish_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/userbookmarks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @userbookmark.user %>
        <a href="/userbookmarks/<%= @userbookmark.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_userbookmark/<%= @userbookmark.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
