<div class="page-header">
  <h3>Userbookmark #<%= @userbookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @userbookmark.user_id %></dd>

      <dt>Bookmark</dt>
      <dd><%= @userbookmark.bookmark_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/userbookmarks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @userbookmark.user %>
        <a href="/userbookmarks/<%= @userbookmark.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_userbookmark/<%= @userbookmark.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
